@CHARSET "ISO-8859-1";
body
{
	
	
	background-color:#DCDCDC ;
}

div
{
   height: 200;
   width: 250;
   margin-left: 30%;
  
   border: 1;
   	
}

table
{
	height:50%;
	width:50%;
	background-color:  	#6495ED;
}